body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
L img.Logo {
  height: 10%;
  width: 10%;
}

h1 {
  font-style: italic;
  color: #373fff;
}

p1 {
  font-size:15px;
  color:white;
  podition:relative;
  padding:30px;
}

html body {
}
div.container,
div.teasertext {
  padding-left: 30px;
  padding-right: 30px;
}

@media all and (max-width: 899px) {
  div.container,
  div.teasertext {
    padding-left: 20px;
    padding-right: 20px;
  }
}
h1 {
  font-size: 36px;
}

h1 {
  font-size: 30px;
}
p {
  font-size: 20px;
}
p small {
  font-size: 14px;
  line-height: 1em;
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section.header {
  background: #050505;
  border-top-right-radius: 24px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}
section.header h1,
section.header p {
  color: #fff;
}

section.header div.container {
  height: calc(100vh - 40px);
  min-height: 500px;
}

section.header div.container {
  z-index: 100;
  position: relative;
}
section.header div.container header {
  padding: 60px 0;
  position: relative;
}

section.header div.container header div.menu {
  float: right;
}
section.header div.container header div.menu ul {
  list-style: none;
}
section.header div.container header div.menu ul li {
  float: left;
  font-size: 14px;
  line-height: 1em;
  font-family: AvenirNextPro, sans-serif;
  margin-left: 25px;
}
section.header div.container header div.menu ul li:first-child {
  display: none;
}
section.header div.container header div.menu ul li a:link,
section.header div.container header div.menu ul li a:visited {
  color: #e6e6e6;
  text-transform: uppercase;
  line-height: 30px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 400;
}
section.header div.container header div.menu ul li a:link::after,
section.header div.container header div.menu ul li a:visited::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background: #fc0;
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}
section.header div.container header div.menu ul li a:focus,
section.header div.container header div.menu ul li a:hover {
  text-decoration: none;
}
section.header div.container header div.menu ul li a:focus::after,
section.header div.container header div.menu ul li a:hover::after,
section.header
  div.container
  header
  div.menu
  ul
  li.current-menu-ancestor
  a::after,
section.header div.container header div.menu ul li.current-menu-item a::after,
section.header
  div.container
  header
  div.menu
  ul
  li.current-page-ancestor
  a::after {
  transform: scaleX(1);
}

section.header-frontpage div.background-video {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.new {
  z-index: 50;
  word-wrap: break-word;
  position: relative;
  color: teal;
  padding :50px;
  font-size: 1em;
  font-weight: regular;
  left: 300px;
  top: 20px;
  width: 80%;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
  font-size: 35px;
  cursor: pointer;
}

.column1 {
  float: left;
  width: 20%;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  color: black;
}

.containerTab1 {
  padding: 10px;
  color: white;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.closebtn1 {
  float: right;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dropbtn {
  background-color: gray;
  color: black;
  padding: 2px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #595959;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid teal;
        text-align: left;

        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }